{% extends "auctions/layout.html" %}
{% block body %}
    <h1>
    closed list page
    </h1>
    <br>
    <div class="row mx-3">
        {% for list in listing %}

            <div class="card mx-3" style="width: 18rem;">
            <a href="{% url 'listing' list.id %}">
                <img src="{{list.imageurl}}" class="card-img-top" alt="{{list.title}}">
            </a>
                <div class="card-body">
                <h5 class="card-title">{{list.title}}</h5>
                <p class="card-text">{{list.description}}</p>
{#                <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Details</a>#}
            </div>

        {% endfor %}

    </div>
    </div>
{% endblock %}