{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
{% if not listing.isactive %}
    <h1>
        closed list by it owner {{ listing.user }}
    </h1>
{% endif %}
   {% if message %}
      {% if updated %}
         <div class="alert alert-success" role="alert">
               {{message}}
         </div>
      {% else %}
      <div class="alert alert-danger" role="alert">  
            {{message}}
      </div> 
      {% endif %}  
   {% endif %}       
</div>

{% if not listing.isActive and user == listing.price.user %}
<div class="alert alert-success" role="alert">
   congratulation you won the auction 
</div>
{% endif %}
      

<div class="row" mx-3 >
   {% if user.is_authenticated  %}
      {% if owner and listing.isactive%}
         <form action="{% url 'closeAuction' id=listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Close Auction</button>

         </form>

      {% endif %}
      {% if onwatch %}
         <form action="{% url 'updateWatchlist' id=listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove from Watchlist</button>

         </form>
      {% else %}
         <form action="{% url 'updateWatchlist' id=listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Add To Watchlist</button>

         </form>
         
      {% endif %}
   {% endif %}


</div>
    <h2>item :{{listing.title}}</h2>
    <img src="{{listing.imageurl}}" alt="{{listing.title}}" height="200px">
    <p>{{liating.description}}</p>
    <p><h5>Owner:{{listing.user}}</h5></p>
    <h6>${{listing.price}} {% if winner %}by<span style="color: mediumblue"> {{ winner }} the winner</span> {% endif %}</h6>
    <br>
    {% if user.is_authenticated and listing.isactive  %}
    <form action="{% url 'addBid' id=listing.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
         <label for="price" >Add Bid</label>
         <input type="number" min="{{ listing.price  }}" name="newBid"   placeholder="Add New Bid">
         <button type="submit" class="btn btn-primary">Add</button>
      </div>
      
     
   </form>

    {% endif %}
    <p>{{ message}}</p>

    <div class="row mx-3">
         <h2>Comments</h2>
    <br>
         {% if user.is_authenticated and listing.isactive%}
         <form action="{% url 'addcomment' listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
               <label for="price" >Add Comments</label>
               <input type="text" name="newComment"   placeholder="Add New Comment">
               <button type="submit" class="btn btn-warning">Add</button>
            </div>
            
           
         </form>

         {% endif %}
         <br/>
         <ul class="list-group">
               {% for comment in allComments %}
         
               <li class="list-group-item">
                  {{comment.message}}
                  <br/>
                  <p> <span style="color: blue">by</span> {{comment.author}}</p>
               </li>
               

         {% endfor %}
      </ul>


    
{% endblock %}